




.fl-node-5e8b862e1bc4e.fl-row-fixed-width, .fl-node-5e8b862e1bc4e .fl-row-fixed-width {
	max-width: 1100px;
}




.fl-node-5e8b862e1d3bc {
	width: 55%;
}
.fl-node-5e8b862e1d3bc > .fl-col-content {
	border-style: solid;
	border-width: 0;
	background-clip: border-box;
	border-color: #cccccc;
	border-right-width: 1px;
}




.fl-node-5e8b862e1d3c2 {
	width: 45%;
}
.fl-node-5e8b862e1d3c2 > .fl-col-content {
	border-style: none;
	border-width: 0;
	background-clip: border-box;
	border-left-width: 1px;
}




.fl-node-5e8b947c7acf2 {
	width: 100%;
}
.fl-node-5e8b947c7acf2 > .fl-col-content {
	border-style: solid;
	border-width: 0;
	background-clip: border-box;
	border-color: #cccccc;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Start Global Nodes CSS */

/* End Global Nodes CSS */

